

body { 
    padding-top: 70px;
    /** This is fix for bootstrap fixed navbar **/
}

.profile-pic {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}