<script type="text/ng-template" id="subscription_dlg.html">
    <div class="modal-header">
        <h4 class="modal-title text-center">
            Subscribe to #Tag
        </h4>
        <hr />
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" ng-submit="subscribe($event)">
            <div class="form-group">
                <input type="text"
                       id="hash_tag"
                       class="form-control input-md text-center large-text"
                       ng-model="input.hash_tag"
                       ng-disabled="is_subscribing"
                       placeholder="#Tag"
                       required />
            </div>
            <div class="text-center" ng-if="!is_subscribing">
                <button type="button"
                        class="btn btn-link"
                        ng-click="dismissSubscriptionDlg()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-disabled="hash_tag && (hash_tag === input.hash_tag)">
                    Subscribe</button>
            </div>
        </form>
    </div>
    <div class="modal-footer text-center" ng-if="is_subscribing">
        Please wait... Subscribing...
    </div>
</script>