<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Twitter HashTag Feed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/libs/bootswatch-dist/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css" media="screen">
        <link rel="stylesheet" href="/css/custom.css" media="screen">
    </head>
    <body ng-controller="AppCtrl" ng-init="hash_tag='<%=hash_tag%>';init();">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"
                       title="Click to update #Tag"
                        ng-click="openSubscriptionDlg()">
                        <i class="fa fa-twitter"></i> #<span ng-bind="hash_tag"></span>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>-->
                            <!--<a class="btn btn-link">-->
                                <!--<i class="fa fa-cogs">Settings</i>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron" ng-if="!hash_tag">
                <p>
                    Just a step away. Please
                    <a class="btn btn-primary btn-lg" ng-click="openSubscriptionDlg($event)">subscribe</a>
                    and start receiving HashTag Feed.
                </p>
            </div>
            <div class="row" ng-if="hash_tag">
                <div class="col-md-8">
                    <hr />
                    <div class="media tweet" ng-repeat="record in records">
                        <div class="media-left media-middle">
                            <a href="">
                                <div class="media-object profile-pic"
                                     style="background:url({{record.user.profile_image_url}})"
                                     alt="Avatar">
                                </div>
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <span ng-bind="record.user.name"></span>
                                <span class="text-muted">
                                    @<span ng-bind="record.user.screen_name"></span>

                                    <small ng-bind="record.created_at|fromNow"></small>
                                </span>
                                <span class="label label-default" ng-if="record.is_new">
                                    new
                                </span>
                            </h6>
                            <span ng-bind="record.text"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>

        <script type="text/ng-template" id="subscription_dlg.html">
            <div class="modal-header">
                <h4 class="modal-title text-center">
                    Subscribe to #Tag
                </h4>
                <hr />
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-submit="subscribe($event)">
                <div class="form-group">
                    <input type="text"
                           id="hash_tag"
                           class="form-control input-md text-center large-text"
                           ng-model="input.hash_tag"
                           ng-disabled="is_subscribing"
                           placeholder="#Tag"
                           required />
                </div>
                <div class="text-center" ng-if="!is_subscribing">
                    <button type="button"
                            class="btn btn-link"
                            ng-click="dismissSubscriptionDlg()">Cancel</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="hash_tag && (hash_tag === input.hash_tag)">
                        Subscribe</button>
                </div>
                </form>
            </div>
            <div class="modal-footer text-center" ng-if="is_subscribing">
                Please wait... Subscribing...
            </div>
        </script>

        <!-- Third party Libraries -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/libs/angular/angular.min.js"></script>
        <script src="/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/libs/moment/min/moment.min.js"></script>
        <script src="/libs/angular-socket-io/socket.min.js"></script>
        <script src="/libs/sweetalert2/sweetalert2.min.js"></script>

        <!-- Application javascripts -->
        <script src="/js/main.js"></script>
        <script src="/js/filters/fromNow.js"></script>
        <script src="/js/services/HashTagFeed.js"></script>
        <script src="/js/controllers/AppCtrl.js"></script>

    </body>
</html>
